/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome";
@import "navbar";
@import "footer";
@import "evaluations";
@import "sweetalert";
@import "evidences/styles";
@import "styles";
@import "users";
@import "semesters";
@import "interviews";

.inline-content h5,
.inline-content p {
    display: inline;
    vertical-align: top;
}

ul.nav-tabs {
  text-align: center;
}
ul.nav-tabs li {
  float: none;
  display: inline-block;
}

.username{
  margin-right: 30px;
  margin-left: 10px !important;
}

#grid{
	padding:0;
}

.form-btn{
  width: 100% !important;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-full{
  width: 100% !important;
}

.gallery-5 {
  padding: 5rem 0; }
  .gallery-5 .carousel-item {
    margin-bottom: 180px; }
    .gallery-5 .carousel-item img {
      width: 100%; }
    .gallery-5 .carousel-item .carousel-caption {
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      padding-top: 2rem;
      padding-bottom: 2.5rem;
      text-align: center;
      background: none;
      height: 180px;
      bottom: -180px; }
    .gallery-5 .carousel-item h3 {
      color: #46484a; }
    .gallery-5 .carousel-item p {
      color: #696b6e;
      width: 80%;
      margin: 0 auto; }
  .gallery-5 .carousel-inner {
    overflow: scroll; }
  .gallery-5 .carousel-control-prev,
  .gallery-5 .carousel-control-next {
    margin-top: -180px;
     }
  .gallery-5 .carousel-indicators {
    bottom: 200px; }
  @media screen and (max-width: 768px) {
    .gallery-5 .carousel-item {
      margin-bottom: 0; }
    .gallery-5 .carousel-caption {
      display: none; }
    .gallery-5 .carousel-control-prev,
    .gallery-5 .carousel-control-next {
      margin-top: 0; }
    .gallery-5 .carousel-indicators {
      bottom: 20px; } }
   @media screen and (max-width: 1300px) {
    .gallery-5 .carousel-item img {
      max-height: 610px;
      width: 100%; } }
