// Place all the styles related to the competences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table > tbody > tr > td{
  vertical-align: middle;
  text-align: center;
} 

th{
  vertical-align: middle;
  text-align: center;
}

.add-competence-col{
  display: flex;
  justify-content: center;
}

.drag-btn{
  margin-right: 8px;
}