// Place all the styles related to the revisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.evaluation-card{
	padding-top: 10px;
}

.competence-name{
	color: #428bca;
}

.competence-content{
	padding: 10px;
}

.subtitle{
  color: gray;
  margin-top: 0;
  padding-top: 0;
  line-height:1px;
}

