// Place all the styles related to the revisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.evaluation-card{
	padding: 30px;
}

.competence-name{
	color: #428bca;
}

.competence-content{
	padding: 10px;
}

#plus-evidence{
  color: #60B777;
  background: none;
  border:none;
}

