// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.evaluation-card{
	border-style: thin;
	border-color: #428bca;
	padding-top: 0;
}

.tablist{
	height: 615px;
	overflow: scroll;
}

.card-title-container{
	background-color: rgba(0,98,191, 0.8);
	color: white;
	margin: 0;
	height: 50px;
	width: auto;
}

.card-title-container2{
	background-color: rgba(0,98,191, 0.8);
	color: white;
	margin: 0;
	height: 50px;
	width: auto;
	text-align: center;
}

.card-title{
	margin-bottom: 0;
}

.profile-con{
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: rgba(0,0,0,0.2);
}

.tableHead {
  background-color: rgba(0,98,191, 0.8);
  color: white;
}
