<nav class="navbar navbar-expand-sm navbar-custom">
    <a href="/" class="navbar-brand">El Bloque - Semestre i</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <i class="fa fa-bars fa-lg py-1 text-white"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/malla"><i class="fa fa-list-alt" aria-hidden="true"></i> Malla</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-users" aria-hidden="true"></i> Usuarios</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                   Configuración
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"><i class="fa fa-book" aria-hidden="true"></i> Grupos</a>
                </div>
            </li>
        </ul>
        <a class="nav-item ml-auto" id="profile-icon" href="#"><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> Nombre de usuario</a>
    </div>
</nav>